{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "externalHelpers": false,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": false
    },
    "target": "es2022",
    "minify": {
      "compress": {
        "booleans_as_integers": true,
        "dead_code": true,
        "unused": true,
        "ecma": "2022",
        "reduce_vars": true,
        "reduce_funcs": true,
        "keep_classnames": true,
        "keep_fargs": false,
        "keep_fnames": true
      },
      "mangle": {
        "keepClassNames": true,
        "keepFnNames": true,
        "keepPrivateProps": true
      }
    },
    "baseUrl": "src",
    "paths": {
      "@structures/*": [
        "structures/*"
      ],
      "@utilities/*": [
        "utilities/*"
      ],
      "@events/*": [
        "events/*"
      ],
      "@structures": [
        "structures/index.ts"
      ],
      "@events": [
        "events/index.ts"
      ],
      "@utilities": [
        "utilities/index.ts"
      ],
      "@config": [
        "../config.json"
      ]
    },
    "transform": {
      "react": {
        "useBuiltins": true
      }
    }
  }
}