{
	"$schema": "https://json.schemastore.org/swcrc",
	"sourceMaps": true,
	"module": {
		"type": "commonjs"
	},
	"jsc": {
		"externalHelpers": false,
		"parser": {
			"syntax": "typescript",
			"tsx": true
		},
		"target": "esnext",
		"minify": {
			"compress": true,
			"mangle": true
		},
		"baseUrl": "src",
		"paths": {
			"~/config": [
				"../config.json"
			],
			"~/*": [
				"*"
			]
		}
	}
}